<div class="footer-background">
  <div class="footer-container">
    <mat-toolbar class="toolbar-footer">
      <span class="label-footer">
      <a routerLink="/home" routerLinkActive="active">
        <img class="electro_label_footer" src="../../assets/images/electro-logo-small.png">
      </a>
      </span>

      <span class="made-by">
        <p class="p1">© Electro 2020 | Made with </p>
        <img class="lightning" src="../../assets/images/lightning.png">
        <p class="p2"> by Yerinia & Elena</p>
    </span>
    </mat-toolbar>
  </div>
</div>
