<div class="landing-panel">
  <div class="landing-background">
    <img src="../../assets/images/landing/banner.jpg">
    <div class="anchor">
      <a href="#video-anchor" mat-button>
        <img class="arrow" src="../../assets/images/landing/angle-arrow-down.png">
      </a>
    </div>
  </div>

  <div id="video-anchor"></div>
  <div class="landing-container">
    <div class="video-container">
      <div>
        <video class="video" controls poster="../../assets/video/electro-video-poster.png">
          <source class="video" src="../../assets/video/electro-video.mp4">
        </video>
      </div>
      <div class="video-txt">
        <p>Kennst du das Gefühl, voll ausgeschlafen und super fit zu sein? Nein? Zeit dies zu ändern!
          Fühle dich voller Kraft und Energie und meistere deinen Alltag mit dem elektrisierenden Energydrink.</p>
        <p>Electro wandelt deine lähmende Müdigkeit in sprühende Energie um. Das Besondere ist: Er enthält natürliche
          Inhaltsstoffe und Vitamine und dank Guarana erlebst du die Energieschübe ganz natürlich.</p>
        <p>Electro wird in neun verschiedenen fruchtigen Geschmacksrichtungen verkauft. Zwei davon sind mit etwas Schuss (Alkohol)
          für den Feierabend.</p>
        <span>Taste it and <p class="slogen">«feel the lightening in you»</p></span>
      </div>
    </div>

    <div class="we-container">
      <div class="we-cluster">
        <div class="yeri-container">
          <h3>Yerinia Martinelli</h3>
          <div class="yeri">
            <img class="yeri-pic" src="../../assets/images/landing/yerinia.jpg">
            <div class="yeri-txt">
              <p>Co-Founder</p>
              <p>Marketing & Design Manager</p>
            </div>
          </div>
        </div>

        <div class="elena-container">
          <h3>Elena Schmid</h3>
          <div class="elena">
            <img class="elena-pic" src="../../assets/images/landing/elena.jpg">
            <div class="elena-txt">
              <p>Co-Founder</p>
              <p>Research & Development Manager</p>
            </div>
          </div>
        </div>
      </div>
      <div class="we-txt">
        <p>Wir haben eine neue Energiequelle entdeckt, welche den Alltag von engagierten, sportlichen und
          vielbeschäftigten Menschen erleichtert.</p>
        <p>Wir experimentieren immer wieder gerne mit neuartigen und leckeren Geschmacksrichtungen – Sei gespannt!</p>
        <p class="slogen">«Electro - Feel the lightening in you»</p>
      </div>
    </div>
  </div>
</div>
