<div class="product-panel">
  <app-slideshow></app-slideshow>
  <h2>Produkte</h2>
  <div class="product-container">

    <div class="product-cluster">
      <div class="drink">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/blueberry.png">
          <h3>Blueberry</h3>
        </div>
        <img class="pic" src="../../assets/images/produkte/dose_blueberry.png">
        <p>Heidelbeere</p>
        <p class="price">CHF 3.50</p>
      </div>

      <div class="drink">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/dragon-fruit.png">
          <h3>Dragon Fruit</h3>
        </div>
        <img class="pic" src="../../assets/images/produkte/dose_dragon_fruit.png">
        <p>Drachenfrucht</p>
        <p class="price">CHF 3.50</p>
      </div>

      <div class="drink">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/grapefruit.png">
          <h3>Grapefruit</h3>
        </div>
        <img class="pic" src="../../assets/images/produkte/dose_garpefruit.png">
        <p>Grapefruit</p>
        <p class="price">CHF 3.50</p>
      </div>
    </div>

    <div class="product-cluster">
      <div class="drink">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/mojito.png">
          <h3>Mojito</h3>
        </div>
        <img class="pic" src="../../assets/images/produkte/dose_mojito.png">
        <p>Mojito alkoholisches Getränk Vol. 5.9%</p>
        <p class="price">CHF 5.20</p>
      </div>

      <div class="drink">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/pikachu.png">
          <h3>Pikachu</h3>
        </div>
        <img class="pic" src="../../assets/images/produkte/dose_pikachu.png">
        <p>Zitrone und Erdbeere</p>
        <p class="price">CHF 3.50</p>
      </div>

      <div class="drink">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/pomegranate.png">
          <h3>Pomegranate</h3>
        </div>
        <img class="pic" src="../../assets/images/produkte/dose_pomegranate.png">
        <p>Granatapfel</p>
        <p class="price">CHF 3.50</p>
      </div>
    </div>

    <div class="product-cluster">
      <div class="drink">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/raspberry.png">
          <h3>Raspberry</h3>
        </div>
        <img class="pic" src="../../assets/images/produkte/dose_rasberry.png">
        <p>Himbeere</p>
        <p class="price">CHF 3.50</p>
      </div>

      <div class="drink">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/tequila.png">
          <h3>Tequila</h3>
        </div>
        <img class="pic" src="../../assets/images/produkte/dose_tequilla.png">
        <p>Tequila alkoholisches Getränk Vol. 6.2%</p>
        <p class="price">CHF 5.20</p>
      </div>

      <div class="drink drink-tropical">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/tropical.png">
          <h3>Tropical</h3>
        </div>
        <img class="pic" src="../../assets/images/produkte/dose_tropical.png">
        <p>Mango, Ananas und Kokosnuss</p>
        <p class="price">CHF 3.50</p>
      </div>
    </div>
  </div>
</div>
