<div class="ingredients-panel">
  <h2>Inhaltsstoffe</h2>
  <div class="ingredients-container">

    <div class="ingredients-cluster">
      <div class="ingredients">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/blueberry.png">
          <h3>Blueberry</h3>
        </div>
        <div class="ingredients-content">
          <img class="pic" src="../../assets/images/inhaltsstoffe/inhaltsstoffe_blueberry.png">
          <ul class="ingredients-list">
            <li>Aromen</li>
            <li>Guarana (Koffein)</li>
            <li class="blueberry">Heidelbeere</li>
            <li>Kohlensäure</li>
            <li>Säuerungsmittel: Citronensäure</li>
            <li>Säureregulator: Natriumcitrat</li>
            <li>Taurin</li>
            <li>Vitamine: Niacin, Pantothensäure, B6, B12</li>
            <li>Wasser</li>
          </ul>
        </div>
      </div>

      <div class="ingredients">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/dragon-fruit.png">
          <h3>Dragon Fruit</h3>
        </div>
        <div class="ingredients-content">
          <img class="pic" src="../../assets/images/inhaltsstoffe/inhaltsstoffe_dragon_fruit.png"/>
          <ul class="ingredients-list">
            <li>Aromen</li>
            <li class="dragon-fruit">Drachenfrucht</li>
            <li>Guarana (Koffein)</li>
            <li>Kohlensäure</li>
            <li>Säuerungsmittel: Citronensäure</li>
            <li>Säureregulator: Natriumcitrat</li>
            <li>Taurin</li>
            <li>Vitamine: Niacin, Pantothensäure, B6, B12</li>
            <li>Wasser</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="ingredients-cluster">
      <div class="ingredients">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/grapefruit.png">
          <h3>Grapefruit</h3>
        </div>
        <div class="ingredients-content">
          <img class="pic" src="../../assets/images/inhaltsstoffe/inhaltsstoffe_grapefruit.png"/>
          <ul class="ingredients-list">
            <li>Aromen</li>
            <li class="grapefruit">Grapefruit</li>
            <li>Guarana (Koffein)</li>
            <li>Kohlensäure</li>
            <li>Säuerungsmittel: Citronensäure</li>
            <li>Säureregulator: Natriumcitrat</li>
            <li>Taurin</li>
            <li>Vitamine: Niacin, Pantothensäure, B6, B12</li>
            <li>Wasser</li>
          </ul>
        </div>
      </div>

      <div class="ingredients">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/mojito.png">
          <h3>Mojito</h3>
        </div>
        <div class="ingredients-content">
          <img class="pic" src="../../assets/images/inhaltsstoffe/inhaltsstoffe_mojito.png"/>
          <ul class="ingredients-list">
            <li>Aromen</li>
            <li>Guarana (Koffein)</li>
            <li>Kohlensäure</li>
            <li>Limette</li>
            <li>Minze</li>
            <li>Rohrzucker</li>
            <li>Säuerungsmittel: Citronensäure</li>
            <li>Säureregulator: Natriumcitrat</li>
            <li>Taurin</li>
            <li>Vitamine: Niacin, Pantothensäure, B6, B12</li>
            <li>Wasser</li>
            <li class="mojito">Weisser Rum</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="ingredients-cluster">
      <div class="ingredients">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/pikachu.png">
          <h3>Pikachu</h3>
        </div>
        <div class="ingredients-content">
          <img class="pic" src="../../assets/images/inhaltsstoffe/inhaltsstoffe_pikachu.png"/>
          <ul class="ingredients-list">
            <li>Aromen</li>
            <li class="pikachu">Erdbeere</li>
            <li>Guarana (Koffein)</li>
            <li>Kohlensäure</li>
            <li>Säuerungsmittel: Citronensäure</li>
            <li>Säureregulator: Natriumcitrat</li>
            <li>Taurin</li>
            <li>Vitamine: Niacin, Pantothensäure, B6, B12</li>
            <li>Wasser</li>
            <li class="pikachu">Zitrone</li>
          </ul>
        </div>
      </div>

      <div class="ingredients">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/pomegranate.png">
          <h3>Pomegranate</h3>
        </div>
        <div class="ingredients-content">
          <img class="pic" src="../../assets/images/inhaltsstoffe/inhaltsstoffe_pomegranate.png"/>
          <ul class="ingredients-list">
            <li>Aromen</li>
            <li class="pomegranate">Granatapfel</li>
            <li>Guarana (Koffein)</li>
            <li>Kohlensäure</li>
            <li>Säuerungsmittel: Citronensäure</li>
            <li>Säureregulator: Natriumcitrat</li>
            <li>Taurin</li>
            <li>Vitamine: Niacin, Pantothensäure, B6, B12</li>
            <li>Wasser</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="ingredients-cluster">
      <div class="ingredients">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/raspberry.png">
          <h3>Raspberry</h3>
        </div>
        <div class="ingredients-content">
          <img class="pic" src="../../assets/images/inhaltsstoffe/inhaltsstoffe_raspberry.png"/>
          <ul class="ingredients-list">
            <li>Aromen</li>
            <li>Guarana (Koffein)</li>
            <li class="raspberry">Himbeere</li>
            <li>Kohlensäure</li>
            <li>Säuerungsmittel: Citronensäure</li>
            <li>Säureregulator: Natriumcitrat</li>
            <li>Taurin</li>
            <li>Vitamine: Niacin, Pantothensäure, B6, B12</li>
            <li>Wasser</li>
          </ul>
        </div>
      </div>

      <div class="ingredients">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/tequila.png">
          <h3>Tequila</h3>
        </div>
        <div class="ingredients-content">
          <img class="pic" src="../../assets/images/inhaltsstoffe/inhaltsstoffe_tequila.png"/>
          <ul class="ingredients-list">
            <li>Aromen</li>
            <li>Grenadine</li>
            <li>Guarana (Koffein)</li>
            <li>Kohlensäure</li>
            <li>Orangensaft</li>
            <li>Säuerungsmittel: Citronensäure</li>
            <li>Säureregulator: Natriumcitrat</li>
            <li>Taurin</li>
            <li class="tequila">Tequila</li>
            <li>Vitamine: Niacin, Pantothensäure, B6, B12</li>
            <li>Wasser</li>
            <li>Zitronensaft</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="ingredients-cluster">
      <div class="ingredients ingredients-tropical">
        <div class="title">
          <img class="icon" src="../../assets/images/icons/tropical.png">
          <h3>Tropical</h3>
        </div>
        <div class="ingredients-content">
          <img class="pic" src="../../assets/images/inhaltsstoffe/inhaltsstoffe_tropical.png"/>
          <ul class="ingredients-list">
            <li class="tropical">Ananas</li>
            <li>Aromen</li>
            <li>Guarana (Koffein)</li>
            <li>Kohlensäure</li>
            <li class="tropical">Kokosnuss</li>
            <li class="tropical">Mango</li>
            <li>Säuerungsmittel: Citronensäure</li>
            <li>Säureregulator: Natriumcitrat</li>
            <li>Taurin</li>
            <li>Vitamine: Niacin, Pantothensäure, B6, B12</li>
            <li>Wasser</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
